import /init.vanir.quickboot.rc

#    start sysinit

on property:sys.boot_completed=1
    start userinit

# sysinit (/system/etc/init.d)
#service sysinit /system/bin/sysinit
#    user root
#    group root
#    oneshot

service userinit /system/bin/userinit
    user root
    group root
    oneshot
